/*======================================================================
	CLEARFIX Updated
----------------------------------------------------------------------*/
.wl-cf:after,
.clearfix:after {
    clear: both;
}

.wl-cf,.clearfix {
    zoom: 1;
}

.wl-cf:before,.clearfix:before,.wl-cf:after,.clearfix:after {
    content: "";
    display: table;
}

.wl-cf:after,.clearfix:after {
    clear: both;
}