
// Partials
@import "base";
@import "utilities";
@import "clearfix";
@import "products";


// ==========================================================================
// Application wrapper
// ==========================================================================

.wl-appwrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.home .wl-appwrapper {
    z-index: 400;
}
// this div contains .wl-appmain and wl-appaside
.wl-appcontent {
    @include respond-to(small-only) { 
      max-width: 300px;//to present one column at a time
    }
    @include respond-to(medium-only) { 
      max-width:700px;//to present columns of two items at a time
    }
    position: relative;
    margin: 0 auto;
    padding: 0; 
    width: 1200px;
    min-height: 300px;
    overflow: inherit;  
}
.wl-appmain {
    @include respond-to(small-only) { 
        max-width: 480px;//to present columns of two items
        float: none;
    }
    @include respond-to(medium-only) { 
        max-width: 480px;//to present columns of two items
    }
    padding: 0px; 
    width: 100%*(961/1200);
    min-height: 250px;
    float: right; 
    border-width: 1px 0 0 0;
}

// ==========================================================================
// Application ASIDE Navigation and Promotional Elements
// ==========================================================================

///ASIDE NAVIGATION
.wl-appaside {
    @include respond-to(small-only) { 
        min-width:225px;
        float: none;
    }
    @include respond-to(medium-only) { 
        min-width:218px;   
    }
    padding: 0; 
    width: 100%*(231/1200);
    height: auto;
    float:left;
}
.wl-appaside-category-container { 
    padding: 0px; 
    
    width: 99%;
    height: auto;
    margin-bottom: 32px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
    -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
    border-image:url("../../images/borders/border-25.png") 10 10 round;
    float:left; 
}
.wl-appaside-category-container .link-list,
.wl-appaside-category-container .link-sublist {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// ==========================================================================
// ASIDE NAVIGATION LISTS AND LINKS
// ==========================================================================

// TOP LEVEL MENU
.link-list{
    margin: 0;
    padding: 0;
    list-style-type: none; 
        a {
            &:hover {
                background-color: $lightBlue;
            }
        color: #828282;
        text-decoration: none; 
        }
}
.wl-heading--list {
  display: block;
  margin-left:-5px;
  padding: 0;
  margin-top: -13px;
  background: transparent;
  text-align:center;
  .txt {
    padding: 0 7px 0 7px;
    background-color: #fff;
  }
}
.link-item {
  font-family: $Lato;
  text-transform: uppercase;
  .arrow {
    display: none;
    position: relative;
    margin: 0 0 1px 5px;
    width: 11px;
    height: 8px;
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -80px -480px;
  }
  .link-item--dresses a .txt {
    color: $defaultGrey;
  }
}
.link-item .link-item--shop-by-shape a .txt {
  color: $pink;
}
.link-item--shop-by-shape {
  .arrow {
    display:none;
    position: relative;
    margin: 0 0 1px 5px;
    width: 11px;
    height: 8px;
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -160px -480px;
  }  

}
// THIS FOR USE WITH FP LABELS SWIPESHOW SCRIPT
.accordionExpanded {
  .arrow {
    display: inline-block;
    position: relative;
    margin: 0 0 1px 5px;
    width: 11px;
    height: 8px;
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -80px -480px;
  } 
  .arrow--shape {
    display: inline-block;
    position: relative;
    margin: 0 0 1px 5px;
    width: 11px;
    height: 8px;
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -160px -480px;
  } 

}
ul.link-list li li  ul.link-sublist {
  display: none;
}
.link-item .link-sublist .link-item .link {
  @include respond-to(small-only) { 
    padding-top: 5px;
    padding-bottom: 5px;
  }
  @include respond-to(medium-only) { 
    padding-top: 5px;
    padding-bottom: 5px;
  }
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    background-color: $lightGrey;
    color: $defaultGrey;
  }  
}
.link-item .link-sublist .link-item .link-sublist .link-item .link {
  display: block;
  padding-left: 33px;
  &:hover {
    background-color: $lightGrey;
    color: $defaultGrey;
  }  
}
.link-item .link-sublist .link-item .link-sublist .link-item--shop-by-shape .link-item .link {
  display: block;
  padding-left: 45px;
  &:hover {
    background-color: $lightGrey;
    color: $defaultGrey;
  }
  .txt:first-child {
    padding-bottom: 0;
  }   
}
.link-group {
  position: relative;
  padding: 1px;
  margin: 0 0 15px 0;   
}
// ==========================================================================
// ASIDE NAVIGATION FOR MOBILE VIEW
// ==========================================================================
// Hide the navigation button and heading by default
.nav-button { 
  display: none; 
}
.nav-heading {
  display:none;
}
@include respond-to(small-only) {
  .nav-heading {
    position: fixed;
    display: block;
    top: 70px;
    left: 100px;
    margin:0;
    font-family:$Lato;
    font-size: $font_size_18px;
    text-transform: uppercase;z-index: 999;
  }
  .nav-button {
    display: block;
    position: fixed;
    top: 64px;
    left: 10px;
    width: 50px;
    height: 35px;
    background: url("../../images/menu-icon-large.png"), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url("../../images/menu-icon-large.png"),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url("../../images/menu-icon-large.png"),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url("../../images/menu-icon-large.png"),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px, 100%;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
    border-radius: 5px; 
    cursor: pointer;
    text-indent: -9999px;  
    z-index: 999;
    &:hover {
      background-color: rgba(0,0,0,.1); 
    }
    .open {
      background: url("../../images/close-icon-large.png"), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url("../../images/close-icon-large.png"),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url("../../images/close-icon-large.png"),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url("../../images/close-icon-large.png"),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 21px, 100%;   
    }
  } 
  .mobile-nav {
    &.open {
      height: auto; 
      padding-top: 50px;
      li { 
          display: block; 
      }
    }
    display: block;
    position: fixed;
    top: 55px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff; /* change the menu color */
    border-width: 1px;
    border-style: solid; 
    -webkit-border-image:url("../../images/borders/border-50.png") 10 10 round; /* Safari  */
    -o-border-image:url("../../images/borders/border-50.png") 10 10 round; /* Opera */
    border-image:url("../../images/borders/border-50.png") 10 10 round;   
    clear: both; 
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgba(0,0,0,.6);
    overflow: hidden;
    float: none; 
    z-index: 998;
    .wl-heading--list {
      display:none;
    }
    ul li ul li {
    a  {
        .txt {
            font-weight: bold;
        }
    }
    }
    li {
    display: none;
    width: 100%;
        ul {
            display: none;
            background-color:  #f7f7f7;
            border-top: 0 none;
            padding: 0;
            a {
              border: 0 none;
              font-size:medium;
              padding: 10px 5%;
              font-weight: normal;
            }
        }
    a {
        display: block;
        padding: 10px 5%;
        width: 90%; 
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-top: 1px solid rgba(255,255,255,.1); 
        font-size: $font_size_18px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            border-top-color: transparent;
            a {
                border-bottom-color: transparent;
            }
        }
    }
      &:hover {
          ul {
              display: block;
              background-color: #ffffff;
              border-top: 0 none;
          }
      }
    }
  }

}

// ==============
// ASIDE TRENDS
// ==============

.wl-appaside-fptrends {
  margin-bottom: 20px;
  padding: 0px; 
  float:left;
  width: 99%;
  height: 300px;
  background: $lightGrey url("../../images/TBD-bg.png") repeat-y;
  border-width: 1px;
  border-style: solid; 
  -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
  -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
  border-image:url("../../images/borders/border-25.png") 10 10 round;
  text-align: center;
  font-family: $Serif;
  text-transform: uppercase;
  h2 {
    margin-top: 50%;
    background: transparent;
  }
}
// ===============
// ASIDE LABELS
// ===============

.wl-fplabels-wrapper {
  text-align: center;
  .h2 {
    position: absolute;
    display:block;
     margin: -32px auto 10px ;
    padding: 0 3px 0 3px;
    width: auto;
    left: 33px;
    z-index: 1;
  }
  padding-bottom: 1px;
  padding-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 99%;
  border-width: 1px 1px 0 1px;
  border-style: solid; 
  -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
  -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
  border-image:url("../../images/borders/border-25.png") 10 10 round;
  visibility: visible;
  overflow: hidden;
}
.wl-appaside-fplabels  { 
  padding: 0; 
  width: 99%;
  text-align: center;
  float:left;
  // ASIDE LABELS SLIDESHOW METRICS 
  .slideshow {
    width: 230px;
    height: 260px;
  }
  .slides img {
    width: 100%;
    height: 100%;
  }
}
.dots, .dotstwo, dot-item, .dot {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none;
} 
.dots, .dotstwo {
  position: relative;
  bottom:-240px;
  padding: 0 2px 0 2px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-width: 1px 0 0 0;
  border-style: solid; 
  background: $white;
  -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
  -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
  border-image:url("../../images/borders/border-25.png") 10 10 round; 
  text-align: center;
  font-size: 0;
  list-style: none; 
  overflow: hidden; 
  z-index: 10000;
}
.dot-item {
  display: inline-block;
  width: 18px;
  height: 20px;
  background: transparent;cursor: pointer;
  line-height: 20px;
  text-align: center; 
  list-style: none;
  opacity: 0.8;
}
.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.8);
  background-color:#f7f7f7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
  font-size: 0;
}
.dot-item:active .dot,
.dot-item.active .dot {
  background-color: #ff008a;
}
.no-touch .dot-item:hover .dot {
  background-color:  #828282;
}

// =================================
// ASIDE SIGN UP FOR EMAILS
// =================================
.wl-fpemail-wrapper {
  height: auto;
  width: 99%;
  border-width: 1px;
  border-style: solid; 
  -webkit-border-image:url("../../images/borders/border-pink.png") 10 10 round; //* Safari */
  -o-border-image:url("../../images/borders/border-pink.png") 10 10 round; //* Opera */
  border-image:url("../../images/borders/border-pink.png") 10 10 round;  
  overflow: auto;
}
.wl-appaside-email {
  padding: 0 0 20px 0; 
  width: 99%;
  height: 156px;
  text-align: center;
  float:left;
  .h2 {
    margin-top: 20px;
    background: transparent;
    color: $hotPink;
    font-size:$font_size_12px;
    text-align: center;
    small {
      display: block;
      margin: 8px 0 19px 0; 
      font-family: $Lato;
      font-style: normal;
      color: $darkGrey; 
    }
  }
  .wl-ht-text-box {
    margin: 0 auto;
    width: 188px;
    height: 30px;
    border-width: 1px;
    border-style: solid;  
    -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
    -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
    border-image:url("../../images/borders/border-25.png") 10 10 round;
    input {
        font-family: $Serif;
        font-style: italic;
        font-size: $font_size_12px;
        text-align: center;
    }
    .email { 
        border: none;
        width: 99%;
        height: 90%;        
    }
  }
  .wl-button {
    margin-top: 10px;
    border-width: 1px;
    border-style: solid; 
    -webkit-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Safari  */
    -o-border-image:url("../../images/borders/border-25.png") 10 10 round; //* Opera */
    border-image:url("../../images/borders/border-25.png") 10 10 round;              
  }
}
.email-signup-button {
  overflow: visible;
  :after {
    position: absolute;
    left: -20px;
    display: block;
    margin-top: -24px;
    margin-left: -6px;
    width:50px;
    height: 35px;
    content: '';
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -241px -319px;
    z-index: 100;
  }
}

// ==========================================================================
// Application header
// ==========================================================================

.wl-appwrapper-header {
  margin: 0 auto;
  width: 1400px;
  height: 212px;
  border: 1px solid #ccc; 
  background: $white url("../../images/header-bg.jpg") no-repeat center;
  //background-size:contain;//responsive bg image if needed later
  @include respond-to(small-only) { 
    width: auto;
    height:100px;  
    background: $white url("../../images/header-bg.jpg") no-repeat center bottom;
  }
  @include respond-to(medium) { 
    width: auto;
  }
  @include respond-to(wide) { 
    width: 1400px;
  }
}
.home .wl-appwrapper-header {
  z-index: 400;
}

// ==========================================================================
// Application breadcrumb navigation
// ==========================================================================
.wl-breadcrumbs {
  @include respond-to(small-only) { 
    margin: 3px 3px 3px 0;
    width: auto;
    font-size: 0.917em;
    float: none;
    ol.clearfix {
      display:none;
    }
  }    
  margin: 20px 0 15px 0;
  font-family: $Serif;
  float: left;
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    margin: 0 5px 0 0;
    float: left;
    .ico {
      margin-left: 8px;
    }
  }
  a {
    text-decoration: none;
    color: $pink;
  }
  a.node .is-active {
    color: $defaultGrey;
  }
  @include respond-to(medium-only) { 
    margin-left: 20px;
    min-width: 350px;//to push content down
  }        
}

// ==========================================================================
// Application footer
// ==========================================================================

.wl-appfooter {  
  margin: 0 auto;
  width: auto;
  background-color: #ccc; 
}

// ==========================================================================
// Accessibility Menu #navaccessibility 
// ==========================================================================

.screenreaderonly {
  position: absolute;
  left: -9999em;  
  @include hidden;
}
