.message,
.confirmation,
.info,
.note
{
	margin: 0 0 1em 0;
}

/*************************************************************************
* Often times it makes semantic sense to put something in a list, but we *
* don't want it to actually look like a list.                            *
*************************************************************************/
ul.semantic
{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
table ul.semantic 
{
	margin: 0;
}
	.semantic-inline li
	{
		display: inline;
	}

/**************************************************************************
* Vanilla list navigation class for setting the common base properties of *
* almost all navs.                                                        *
**************************************************************************/
.navigation,
.navigation ul,
.navigation ol
{
	margin: 0;
	padding: 0;
	list-style: none;
}
	.navigation-horizontal li
	{
		display: inline;
		float: left;
	}
	.navigation-inline li
	{
		display: inline;
	}
	.navigation-ir a,
	.navigation-ir span
	{
		display: block;
		background-repeat: no-repeat;
		text-indent: -235157px;
	}
	/* \*/
	.navigation-ir a
	{
		overflow: hidden;
	}
	/* */

/******************
* Breadcrumb list *
******************/
ul.breadcrumb,
ul.breadcrumb ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
	ul.breadcrumb li
	{
		
	}
		ul.breadcrumb li a,
		ul.breadcrumb li span
		{
			float: left;
		}
		ul.breadcrumb ul
		{
			float: left;
		}
			ul.breadcrumb ul li
			{
				margin-left: 0.5em;
				padding-left: 1em;
			}

/***********
* Selector *
***********/
ul.selector
{
	margin: 0;
	border: 1px solid #000;
	padding: 0;
	height: 8em;
	list-style: none;
	overflow: auto;
}

/********************
* Field Value Pairs *
********************/
dl.fv
{
	margin: 0;
	padding: 0;
}
	dl.fv dt,
	dl.fv dd
	{
		margin: 0;
		padding: 0;
	}
	dl.fv-horizontal dt
	{
		float: left;
	}
	dl.fv-inline dt,
	dl.fv-inline dd
	{
		display: inline;
	}

/********************************
* Product Price related classes *
********************************/
.price
{
	
}
.price-original
{
	text-decoration: line-through;
}
.price-sale
{
	
}