body {
  margin: 0;
  font-size: 75%;
  /* 12px */
  line-height: 1.2;
  background: #fff; }

body,
legend,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
.h1 {
  margin-bottom: 8px;
  padding: 0;
  color: #424242;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.333em;
  /* 16px */
  text-transform: none;
  border: 0; }

h2,
.h2 {
  display: inline-block;
  margin: -6px 0 0 6px;
  padding: 0;
  color: #424242;
  background-color: #ffffff;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.417em;
  /* 17px */
  text-transform: none;
  border: 0; }

h3,
.h3 {
  margin-bottom: 5px;
  padding: 6px 10px;
  color: #424242;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.917em;
  /* 11px */
  text-transform: uppercase; }

h4,
.h4 {
  margin-bottom: 1em;
  padding: 0;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.917em;
  /* 11px */
  text-transform: none;
  border: 0; }

h5,
.h5,
h6,
.h6 {
  margin-bottom: 1em;
  padding: 0;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  /* 12px */
  text-transform: none;
  border: 0; }

address {
  margin: 0;
  padding: 0;
  font-style: normal; }

p {
  margin: 0 0 1em;
  padding: 0; }

blockquote {
  margin: 0;
  padding: 0; }

ol {
  margin: 0 0 1em 2em;
  padding: 0; }

ol ol {
  margin-bottom: 0; }

ul {
  margin: 0 0 1em 2em;
  padding: 0; }

ul ul {
  margin-bottom: 0; }

li {
  margin: 0;
  padding: 0; }

dl {
  margin: 0 0 8px;
  padding: 0; }

dt {
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 1.5em;
  padding: 0; }

a {
  color: #828282;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: none; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

legend {
  margin: 0;
  padding: 0;
  *margin-left: -7px; }

legend span {
  display: block;
  padding: 0 0 8px;
  font-size: 1.083em;
  font-weight: bold;
  color: #0050bf; }

label,
button,
input,
select,
textarea {
  margin: 0;
  font-size: 1em; }

button {
  overflow: visible;
  /* IE6-7 */
  cursor: pointer;
  border: none;
  /* FOR SLIDESHOW */ }

textarea {
  vertical-align: top; }

::-webkit-input-placeholder,
:-moz-placeholder {
  color: #cbcbcb; }

@media screen and (max-width: 30.0625em) {
  input[type=text]:focus,
  input[type=number]:focus {
    font-size: 16px !important; } }

input[type=radio] {
  margin: 0 5px 5px 0; }

select {
  padding: 2px;
  max-width: 100%;
  border: 1px solid #cbcbcb; }

select:focus {
  outline: none; }
  @media screen and (max-width: 30.0625em) {
    select:focus {
      font-size: 16px !important; } }

.wl-button {
  display: block;
  padding: 9px 19px;
  margin: 0 auto;
  font-size: 1.417em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #fff;
  overflow: hidden;
  /* IE6-7 */
  cursor: pointer;
  border-width: 2px;
  -webkit-border-image: url("../../images/borders/border-hotpink.png") 10 10 round;
  -o-border-image: url("../../images/borders/border-hotpink.png") 10 10 round;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eb5190 url("../../images/borders/border-hotpink.png") repeat; }

.wl-button:hover {
  text-decoration: none; }

.wl-button-secondary,
.wl-button-small,
.wl-button-xsmall {
  padding: 4px 9px 5px;
  font-size: 1em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.wl-button-xsmall {
  padding: 1px 7px 2px;
  font-size: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.wl-button-secondary {
  padding: 4px 4px 5px;
  font-size: 1.083em;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  border-color: #979797 #a4a4a4 #b0b0b0 #a5a2a2;
  background: #949494 url(../../images/layout/bg-wl-btn-secondary.png) 0 0 repeat-x; }

.wl-button-tertiary {
  padding: 3px 6px 5px 6px;
  font-size: 1em;
  border-color: #015b05 #055804 #73956e #146213;
  background: #0a4401 url(../../images/layout/bg-wl-btn-tertiary.png) 0 0 repeat-x; }

input.wl-button,
button.wl-button {
  *padding-left: 2px;
  *padding-right: 2px; }

input.wl-button-tertiary,
button.wl-button-tertiary {
  *padding-left: 0;
  *padding-right: 0; }

.unavailable .wl-button {
  cursor: default; }
