/*======================================================================
    product images
----------------------------------------------------------------------*/
.wl-productimg {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden; }

.wl-productbrowse {
  padding: 0; }
  @media screen and (max-width: 30em) {
    .wl-productbrowse {
      margin: 0 auto;
      float: none;
      max-width: 500px;
      min-width: 445px; } }
  @media screen and (min-width: small-only) {
    .wl-productbrowse {
      margin: 0 auto;
      float: none;
      max-width: 500px;
      min-width: 445px; } }
  @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
    .wl-productbrowse {
      max-width: 500px; } }

.wl-products {
  margin: 0;
  padding: 0; }

.wl-product {
  list-style: none;
  float: left;
  padding: 0;
  margin-left: 4px; }
  .wl-product .image {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 236px;
    height: 315px; }
    @media screen and (max-width: 30em) {
      .wl-product .image {
        max-width: 150px;
        max-height: 197px; } }
    @media screen and (min-width: small-only) {
      .wl-product .image {
        max-width: 150px;
        max-height: 197px; } }
    @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
      .wl-product .image {
        min-width: 236px; } }
    .wl-product .image img {
      width: 100%; }
  .wl-product .swatches {
    list-style: none;
    margin: 0; }
    @media screen and (max-width: 30em) {
      .wl-product .swatches {
        display: none; } }
    @media screen and (min-width: small-only) {
      .wl-product .swatches {
        display: none; } }
    .wl-product .swatches dd {
      float: left;
      margin: 0 2px 0 -4px;
      line-height: 1.3; }
      .wl-product .swatches dd a {
        text-decoration: none;
        color: #eb5190;
        margin-left: 5px; }
      .wl-product .swatches dd img {
        height: 20px;
        width: 20px; }

.overlay {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 315px; }
  @media screen and (max-width: 30em) {
    .overlay {
      max-height: 190px; } }
  @media screen and (min-width: small-only) {
    .overlay {
      max-height: 190px; } }
  .overlay:hover {
    opacity: .90;
    -webkit-opacity: .90;
    -moz-opacity: .90;
    -o-opacity: .90;
    -ms-opacity: .90; }

.quickview {
  text-indent: -9999em;
  display: inline-block;
  position: absolute;
  right: 3px;
  bottom: 6px;
  width: 33px;
  height: 33px; }
  .quickview:hover {
    background: url("../../images/sprites.png") no-repeat;
    background-position: -40px -360px;
    z-index: 100; }
  .quickview:active, .quickview:focus {
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -79px -360px; }

.video-link {
  text-indent: -9999em;
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: 25px;
  height: 25px;
  background: transparent url("../../images/sprites.png") no-repeat;
  background-position: -307px -277px;
  z-index: 100; }
  .video-link:hover {
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -277px -277px;
    z-index: 100; }

.badge {
  text-indent: -9999em;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 37px;
  height: 37px;
  background: transparent url("../../images/sprites.png") no-repeat;
  background-position: -75px -317px; }

.info {
  margin-top: 3px; }
  @media screen and (max-width: 30em) {
    .info {
      max-width: 150px;
      margin-left: 2px; }
      .info h2 {
        font-size: 0.917em; }
      .info div.equalheightgroup {
        height: 20px; } }
  @media screen and (min-width: small-only) {
    .info {
      max-width: 150px;
      margin-left: 2px; }
      .info h2 {
        font-size: 0.917em; }
      .info div.equalheightgroup {
        height: 20px; } }
  .info .equalheightgroup {
    min-height: 40px; }
    @media screen and (max-width: 30em) {
      .info .equalheightgroup {
        min-height: 20px; } }
    @media screen and (min-width: small-only) {
      .info .equalheightgroup {
        min-height: 20px; } }
  @media screen and (max-width: 30em) {
    .info .price :after {
      display: block;
      content: "more colors";
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-size: 0.75em;
      text-transform: uppercase;
      color: #ff008a; } }
  @media screen and (min-width: small-only) {
    .info .price :after {
      display: block;
      content: "more colors";
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-size: 0.75em;
      text-transform: uppercase;
      color: #ff008a; } }

li.first {
  margin-left: 0; }

.name {
  text-align: left;
  margin: 4px 0 4px 0; }
  .name a {
    text-decoration: none;
    font-style: normal;
    color: #424242; }

.wl-form-container {
  background: transparent;
  width: auto;
  height: 30px; }
  @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
    .wl-form-container {
      width: 470px; } }

.wl-form-options {
  width: 469px;
  float: left;
  height: 27px;
  margin: 0;
  padding: 0;
  background: white; }
  @media screen and (max-width: 30em) {
    .wl-form-options {
      width: 238px;
      top: 90px;
      height: auto;
      padding-bottom: 6px;
      z-index: 100; } }
  @media screen and (min-width: small-only) {
    .wl-form-options {
      width: 238px;
      top: 90px;
      height: auto;
      padding-bottom: 6px;
      z-index: 100; } }
  @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
    .wl-form-options {
      width: 475px; } }

.wl-list-styles-count {
  float: right;
  list-style: none; }
  .wl-list-styles-count :before {
    padding: 0;
    background: url("../../images/borders/border-25.png");
    content: '';
    display: block;
    position: absolute;
    top: 1em;
    margin-left: -450px;
    margin-top: 48px;
    height: 1px;
    width: 450px;
    z-index: -1; }
    @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
      .wl-list-styles-count :before {
        background: none; } }
  @media screen and (max-width: 30em) {
    .wl-list-styles-count {
      margin-top: -56px; } }
  @media screen and (min-width: small-only) {
    .wl-list-styles-count {
      margin-top: -56px; } }
  @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
    .wl-list-styles-count {
      margin-top: -55px;
      margin-right: 20px; } }
  .wl-list-styles-count li .txt {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #828282;
    padding-left: 6px;
    background-color: white; }

.wl-dropdown {
  margin-right: 5px;
  float: left;
  width: 151px;
  height: 20px;
  z-index: 100; }
  @media screen and (max-width: 30em) {
    .wl-dropdown {
      display: none; } }
  @media screen and (min-width: small-only) {
    .wl-dropdown {
      display: none; } }
  @media screen and (min-width: 30.0625em) and (max-width: 61.1875em) {
    .wl-dropdown {
      margin-right: 11px; }
      .wl-dropdown:last-child {
        margin-right: 0; } }
  .wl-dropdown select {
    -moz-appearance: button;
    text-indent: 5px;
    text-overflow: '';
    -webkit-appearance: none;
    background: white;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    -moz-border-image: url("../../images/borders/border-50.png") 10 10 round;
    -webkit-border-image: url("../../images/borders/border-50.png") 10 10 round;
    -o-border-image: url("../../images/borders/border-50.png") 10 10 round;
    border-image: url("../../images/borders/border-50.png") 10 10 round;
    width: 100%;
    padding-left: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic; }
  .wl-dropdown .arrow {
    float: right;
    display: block;
    position: relative;
    margin: -15px 10px 0 0;
    width: 10px;
    height: 6px;
    background: transparent url("../../images/sprites.png") no-repeat;
    background-position: -80px -480px; }
